body {
    background-color: black;
    color: white;
}

header {
    background-color: black;
    color: white;
    height: 50px;
    text-align: right;
}

.speaker-view {
    color: white;
}

#fullscreen {
    color: white;
    text-align: right;
    display:inline-flex;
    width: 50px;
    height: 50px;
}
.container {
    width: 100%;
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: space-between;
}

.speaker {
    width: 150px;
    height: 120px;
    display: inline-flex;
    flex-wrap: wrap;
}

.partecipant {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

